<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Voices of Dartmouth</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/new">say what you wanna say</a></li>
    </ul>
  </div>
</nav>
